* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body, html, textarea {
  font-family: Verdana, Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #eee;
}

.draggable {
  width: 150px;
  height: 150px;
  position: absolute;
  padding: 0;
  box-shadow: 5px 5px 5px #888;
}

#drag1 {
  left: 150px;
  top: 30px;
  background: rgba(190, 0, 0, 0.63333);
}

#drag2 {
  left: 300px;
  top: 30px;
  background: rgba(180, 0, 0, 0.66667);
}

#drag3 {
  left: 450px;
  top: 30px;
  background: rgba(170, 20, 0, 0.7);
}

#drag4 {
  left: 600px;
  top: 30px;
  background: rgba(160, 20, 0, 0.73333);
}

#drag5 {
  left: 750px;
  top: 180px;
  background: rgba(150, 20, 0, 0.76667);
}

#drag6 {
  left: 0px;
  top: 180px;
  background: rgba(140, 40, 100, 0.8);
}

#drag7 {
  left: 150px;
  top: 180px;
  background: rgba(130, 40, 100, 0.83333);
}

#drag8 {
  left: 300px;
  top: 180px;
  background: rgba(120, 40, 100, 0.86667);
}

#drag9 {
  left: 450px;
  top: 180px;
  background: rgba(110, 60, 100, 0.9);
}

#drag10 {
  left: 600px;
  top: 330px;
  background: rgba(100, 60, 100, 0.93333);
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background: inherit;
  pointer-events: auto;
  outline: none;
  border: 0;
  padding: 5px;
}

h1, h2, h3, h4 {
  font-size: 1.2em;
  margin: 0.2em 0;
}

h2, h4 {
  font-style: italic;
}

ul {
  list-style-position: inside;
  padding-left: 5px;
}

blockquote {
  margin-left: 15px;
}

.marked {
  /* width: 100%;
  height: 100%; */
  padding: 5px;
  width: inherit;
  height: inherit;
  overflow: auto;
}
